@font-face {
	font-family: 'Libre Baskerville';
	src: url("/polices/LibreBaskerville-Regular.ttf") format("opentype"),
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-image: url('/assets/backgroundParchemin.png');
}
button {
    display: inline-block;
    font-family: 'Libre Baskerville';
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(206, 206, 173);
    border: 1px double black;
    padding: 5px;
}
button:hover {
    background-color: rgb(226, 226, 186);
}
button:active {
    background-color: rgb(117, 117, 95);
}

/*-------FEUILLE AVENTURE------------*/
#onglet {
    position: absolute;
    top:0; right: 0px;

    border: green solid 1px;
    width: 400px;
    height: 100%;
    background-color: rgb(255, 241, 204);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
#opener {
    position: relative;
    top:0; left:0;
    border: solid black 1px;
    width: 20px; height: 20px;
    text-align: center;
    cursor: pointer;

}
#carac-heros-container {
    display: flex;
    justify-content: space-around;
}
.carac-heros {
    width: 75px;
    height: 75px;
    border: black 1px solid;
}
.habendcha {
    font-family: 'Libre Baskerville';
    text-align: center;
    font-weight: bold;
    border-bottom: black 1px solid;
}
.scr-depart {
    font-size: 9px;
    padding-left: 2px;
}
#hab-score,#end-score, #cha-score {
    display: flex;
    height: 55%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
}
#case-arme-dgt-1,
#case-arme-dgt-2,
#armu-protec {
    text-align: center;
    width: 40px;
}

#or-score, #potion-score, #repas-score {
    /*border: dotted black 1px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75%;
    font-size: 25px;
}
#repas-score {
    height: 29px;
    
}
#btn-consomme,
#btn-boire {
    font-size: 9px;
    width: 100%;
}
#potion-score {
    font-size: 10px !important;
    height: 29px;
}
#onglet table {
    border: black 1px solid;
    width: 300px;
}
#onglet tr,
#onglet td {
    border: black 1px solid;
}

#or-armu-repas-container {
    display: flex;
    justify-content: space-around;
}
.row-sheet {
    margin-top: 20px;
    border: dotted purple 1px;
    display: flex;
    justify-content: center;
}

/*-------INTERFACE------------*/
#ecran {
    border: black solid 1px;
    width: 500px;
    height: 500px;
    margin: auto;
    /*background-image: url('assets/squelette.bmp');*/
    background-position-x: center;
    background-position-y: -55px;
}

#texte {
    border: red solid 1px;
    width: 700px;
    margin: auto;
    
}

h1 {
    font-family: 'Libre Baskerville';
}
h3 {
    text-align: center;
}
span {
    font-weight: bold;
    cursor: pointer;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#div-pour-des {
    display: flex;
}
.des {
    width: 50px;
    height: 50px;
    border: red solid 1px;
    background-size: cover;
}

#creature-sheet {
    border: black 1px solid;
    display: none;
    
}
#creature-container {
    display: flex;
    border: green 3px solid;
}
.creat-scr {
    text-align: center;
}
.creature-carac {
    border: black 1px solid;
    width: 100px;
    height: 50px;
    font-family: 'Libre Baskerville';
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#creat-end-box {
    position: relative;
}
#wound-creat {
    border: solid purple 1px;
    background-image: none;
    background-position: center;
    background-size: cover;
    height: 100px;
    width: 100px;
    z-index: 1;
    position: absolute;
    top: 0;
}


/*-------------------------------*/