@font-face {
	font-family: 'Libre Baskerville';
	src: url("/polices/LibreBaskerville-Regular.ttf") format("opentype"),
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-image: url('/assets/backgroundParchemin.png');
}

/*-------FEUILLE AVENTURE------------*/
#onglet {
    position: absolute;
<<<<<<< HEAD
    top:0; right: 0px;
=======
    top:0; right: -380px;
>>>>>>> 7efca7bacbf2cd80721fe7b25c555d3ceaa5af0b
    border: green solid 1px;
    width: 400px;
    height: 100%;
    background-color: rgb(255, 241, 204);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
#opener {
    position: relative;
    top:0; left:0;
    border: solid red 1px;
    width: 20px; height: 20px;
    text-align: center;
    cursor: pointer;

}
#carac-heros-container {
    display: flex;
    justify-content: space-around;
}
.carac-heros {
    width: 75px;
    height: 75px;
    border: black 1px solid;
}
#onglet table {
    border: black 1px solid;
    width: 300px;
}
#onglet tr,
#onglet td {
    border: black 1px solid;
}

#or-armu-repas-container {
    display: flex;
    justify-content: space-around;
}
.row-sheet {
    margin-top: 20px;
    border: dotted purple 1px;
    display: flex;
    justify-content: center;
}

/*-------INTERFACE------------*/
#ecran {
    border: black solid 1px;
    width: 500px;
    height: 500px;
    margin: auto;
    /*background-image: url('assets/squelette.bmp');*/
    background-position-x: center;
    background-position-y: -55px;
}

#texte {
    border: red solid 1px;
    width: 700px;
    margin: auto;
    
}

h1 {
    font-family: 'Libre Baskerville';
}
h3 {
    text-align: center;
}
span {
    font-weight: bold;
    cursor: pointer;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#div-pour-des {
    display: flex;
}
.des {
    width: 50px;
    height: 50px;
    border: red solid 1px;
    background-size: cover;
}

#creature-sheet {
    border: black 1px solid;
    display: none;
    
}
#creature-container {
    display: flex;
    border: green 3px solid;
}
.creature-carac {
    border: black 1px solid;
    width: 50px;
    height: 50px;
    font-family: 'Libre Baskerville';
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}


/*-------------------------------*/